@page
@model IndexModel
@{
    ViewData["Title"] = "Federation test app";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Choose IdP below to authenticate:</p>
    <div class="row">
        <div class="col-sm"></div>
        <div class="list-group col-sm">
        @{
            var list = Configuration.GetSection("IdpList").Get<IEnumerable<IdpListItem>>();
            foreach (var item in list)
            {
                <a class="list-group-item list-group-item-action" href="~/Auth/Login/@item.Id">@item.DisplayName</a>
            }
        }
        </div>
        <div class="col-sm"></div>
    </div>
</div>
